{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Newsletter{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Sign up for our mailing list</h2>
{% if form.errors %}
    <ul>
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
            <li>{{ field }}: {{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}
{% if form.sent %}
    <p>Thank you for signing up!</p>
{% endif %}
<form method="post">
    {{ form.email.label }}
    {{ form.email }}
    {{ form.captcha.label }}
    {{ form.captcha }}
    {{ form.submit }}
</form>
{% endblock %}