{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Newsletter{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Sign up for our mailing list</h2>
{% if form.errors %}
    <ul>
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
            <li>{{ field }}: {{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}
{% if form.sent %}
    <p>Thank you for signing up!</p>
{% endif %}
<form method="post">
    {{ form.email.label }}
    {{ form.email }}
    {{ form.captcha.label }}
    {{ form.captcha }}
    {{ form.submit }}
</form>

<h2>Newsletter Archive</h2>
<div class="newsletter-archive">
    <div class="year">
        <h3>2026</h3>
        <a target="_blank"
        href="https://www.dropbox.com/scl/fi/ivdrh1fngzb0a0ziaot7c/ICMA_Newsletter_13.pdf?rlkey=vhljjnrt8of0q0a3famyyzufu&st=cuv7p047&dl=0">January</a>
    </div>
    <div class="year">
        <h3>2025</h3>
        <a target="_blank"
        href="https://www.dropbox.com/scl/fi/c4iakvndnd8o7ughtrxmr/ICMA_Newsletter_12.pdf?rlkey=93xhzggq7i3f7xtn939ev2v5j&st=gakq3uxh&dl=0">December</a>

        <a target="_blank"
        href="https://www.dropbox.com/scl/fi/m8tjc9of4d5q1nnsqh61w/ICMA_Newsletter_11.pdf?rlkey=1akcmul5pw1dk5x3ognlml5mk&st=ix7mddmv&dl=0">November</a>

        <a target="_blank"
        href="https://www.dropbox.com/scl/fi/27cns1wf0dmf3sl6t4opj/ICMA_Newsletter_10.pdf?rlkey=zm267ey0phglzg4jdza0s2wh2&st=njlzksco&dl=0">October</a>

        <a target="_blank"
        href="https://www.dropbox.com/scl/fi/o69k9aiwga76kwg9ve2xq/ICMA_Newsletter_9.pdf?rlkey=pc1qlfb7wge1ujqz86sb8khkr&st=tr7wpn4e&dl=0">September</a>

        <a target="_blank"
        href="https://www.dropbox.com/scl/fi/oj87zixuxpbni9pcyxwz3/ICMA_Newsletter_8.pdf?rlkey=yuhbrtifcu8jirbm7umw2d0rl&st=wlnb7kmj&dl=0">August</a>

        <a target="_blank"
        href="https://www.dropbox.com/scl/fi/9arc03724dzpizporduhc/ICMA_Newsletter_7.pdf?rlkey=bf09y0o8wfwl6hz7ck8gc23vv&st=gvkajqip&dl=0">July</a>

        <a target="_blank"
        href="https://www.dropbox.com/scl/fi/y756ablk9ccd74rb4tdvu/ICMA_Newsletter_6.pdf?rlkey=3uo34n6u28nurgo0qe7er5ad7&st=jlsb20ot&dl=0">June</a>

        <a target="_blank"
        href="https://www.dropbox.com/scl/fi/ihnrw26csf8gw4yj63l2x/ICMA_Newsletter_5.pdf?rlkey=189iyunv17vt7ony0tc99i7xd&st=onsp5oxa&dl=0">May</a>

        <a target="_blank"
        href="https://www.dropbox.com/scl/fo/2b07g9xe881opnmt6bt9w/AAInKAjeHqrObxDGB-PBqtQ?rlkey=siugch16fzmtk9s0pv0g65iwa&st=3k611egg&dl=0">April</a>

        <a target="_blank"
        href="https://www.dropbox.com/scl/fo/z3m576g9d1pghb0qv1mrp/AEsJVIc9Sbbv_2aDQNNjRgo?rlkey=o22k7fb45x9se7c4rovkew06z&st=7o10wqey&dl=0">March</a>

         <a target="_blank"
        href="https://www.dropbox.com/scl/fi/vsbd86arolp1fpcbdvxii/ICMA_Newsletter_2.pdf?rlkey=e5upr6wrkfvtykpylvnmdpqt3&st=yuvflxnn&dl=0">February</a>

        <a target="_blank"
        href="https://www.dropbox.com/scl/fi/dtki200epeew9dz3kgtw5/ICMA_Newsletter_1USE.pdf?rlkey=018n9jsv1vuolv18lrmu2zef2&st=1x35i6ux&dl=0">January</a>
    </div>  
</div>
{% endblock %}