{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Newsletter{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Sign up for our mailing list</h2>
{% if form.errors %}
    <ul>
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
            <li>{{ field }}: {{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}
{% if form.sent %}
    <p>Thank you for signing up!</p>
{% endif %}
<form method="post">
    {{ form.email.label }}
    {{ form.email }}
    {{ form.captcha.label }}
    {{ form.captcha }}
    {{ form.submit }}
</form>

<h2>Newsletter Archive</h2>
<div class="newsletter-archive">
    <div class="issue">
        <h3>September 2025</h3>
        <a target="_blank"
        href="https://www.dropbox.com/scl/fi/o69k9aiwga76kwg9ve2xq/ICMA_Newsletter_9.pdf?rlkey=pc1qlfb7wge1ujqz86sb8khkr&st=tr7wpn4e&dl=0">Download PDF</a>
    </div>
    <div class="issue">
        <h3>August 2025</h3>
        <a target="_blank"
        href="https://www.dropbox.com/scl/fi/oj87zixuxpbni9pcyxwz3/ICMA_Newsletter_8.pdf?rlkey=yuhbrtifcu8jirbm7umw2d0rl&st=wlnb7kmj&dl=0">Download PDF</a>
    </div>
    <div class="issue">
        <h3>July 2025</h3>
        <a target="_blank"
        href="https://www.dropbox.com/scl/fi/9arc03724dzpizporduhc/ICMA_Newsletter_7.pdf?rlkey=bf09y0o8wfwl6hz7ck8gc23vv&st=gvkajqip&dl=0">Download PDF</a>
    </div>
    <div class="issue">
        <h3>June 2025</h3>
        <a target="_blank"
        href="https://www.dropbox.com/scl/fi/y756ablk9ccd74rb4tdvu/ICMA_Newsletter_6.pdf?rlkey=3uo34n6u28nurgo0qe7er5ad7&st=jlsb20ot&dl=0">Download PDF</a>
    </div>
    <div class="issue">
        <h3>May 2025</h3>
        <a target="_blank"
        href="https://www.dropbox.com/scl/fi/ihnrw26csf8gw4yj63l2x/ICMA_Newsletter_5.pdf?rlkey=189iyunv17vt7ony0tc99i7xd&st=onsp5oxa&dl=0">Download PDF</a>
    </div>
    <div class="issue">
        <h3>April 2025</h3>
        <a target="_blank"
        href="https://www.dropbox.com/scl/fo/2b07g9xe881opnmt6bt9w/AAInKAjeHqrObxDGB-PBqtQ?rlkey=siugch16fzmtk9s0pv0g65iwa&st=3k611egg&dl=0">Download PDF</a>
    </div>
    <div class="issue">
        <h3>March 2025</h3>
        <a target="_blank"
        href="https://www.dropbox.com/scl/fo/z3m576g9d1pghb0qv1mrp/AEsJVIc9Sbbv_2aDQNNjRgo?rlkey=o22k7fb45x9se7c4rovkew06z&st=7o10wqey&dl=0">Download PDF</a>
    </div>
    <div class="issue">
        <h3>February 2025</h3>
        <a target="_blank"
        href="https://www.dropbox.com/scl/fi/vsbd86arolp1fpcbdvxii/ICMA_Newsletter_2.pdf?rlkey=e5upr6wrkfvtykpylvnmdpqt3&st=yuvflxnn&dl=0">Download PDF</a>
    </div>
    <div class="issue">
        <h3>January 2025</h3>
        <a target="_blank"
        href="https://www.dropbox.com/scl/fi/dtki200epeew9dz3kgtw5/ICMA_Newsletter_1USE.pdf?rlkey=018n9jsv1vuolv18lrmu2zef2&st=1x35i6ux&dl=0">Download PDF</a>
    </div>
</div>
{% endblock %}