<!-- footer -->
<footer class="footer">
    <a class="logo" href="" aria-label="Home">
        <img src="{{ url_for('static', filename='logo.svg') }}">
        <h2>Iowa City Mutual Aid</h2>  
    </a> 
    <div class="contact">
        <p class="location">Iowa City, Iowa</p>
        <a href="https://www.instagram.com/icmutualaid/" target="blank">
            <i class="fab fa-instagram"></i>
        </a>
        <!-- i have fa v5 which does not have the x icon lol. we're prescriptivists -->
        <a href="https://twitter.com/icmutualaid" target="blank">
            <i class="fab fa-twitter-square"></i>
        </a>
        <a href="mailto:admin@icmutualaid.org">
            <i class="far fa-envelope"></i>
        </a>
    </div>
    <a href="https://www.w3.org/WAI/WCAG2AA-Conformance"
        title="Explanation of WCAG 2 Level AA conformance">
        <img height="48" width="132"
            src="https://www.w3.org/WAI/WCAG21/wcag2.1AA-v"
            alt="Level AA conformance,
                    W3C WAI Web Content Accessibility Guidelines 2.1">
        </a>
</footer>