bleach==6.2.0
blinker==1.9.0
# Editable Git install with no remote (blog==1.0.0)
-e /usr/lib/icma-website
click==8.1.8
coverage==7.6.10
Flask==3.1.0
Flask-CKEditor==1.0.0
Flask-WTF==1.2.2
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
packaging==24.2
pluggy==1.5.0
pytest==8.3.4
webencodings==0.5.1
Werkzeug==3.1.3
WTForms==3.2.1