{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Page{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="path">Path</label>
    <input name="path" id="path" value="{{ request.form['path'] }}" required>
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    {{ ckeditor.create(name='body') }}
    <div class="buttons">
        <input type="button" value="Cancel" onclick="history.back()">
        <input type="submit" value="Save">
    </div>
</form>
{{ ckeditor.load() }}
{{ ckeditor.config(name='body') }}
{% endblock %}
<!-- override donate button on this page -->
{% block donate %}{% endblock %}