{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}About Us{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>We are IC Mutual Aid. We work to meet the survival needs of the people 
    whom our systems continuously fail. The conditions in which we are made 
    to live are unjust. Our local, state, and national governments all 
    continue to neglect crises and leave people behind. We must work toward 
    liberation and meeting the needs unmet by the capitalist class who control 
    the state and the wealth.
</p>
<h2>5 Points of Unity</h2>
<ol>
    <li>We are anti-capitalist. Capitalism is an oppressive force that is unable to meet 
        people’s needs. Wealth and power are concentrated in the hands of a few, while 
        the majority of people are trapped in wage labor, with limited control over their 
        own lives. Iowa City Mutual Aid participates in horizontal mutual aid, where each 
        member has autonomy and decision-making power. We must build self-sustaining communities 
        that are independent from the capitalist state, both materially and ideologically, and 
        able to resist its repression.</li>
    <li>We are abolitionists. Abolition and the mutual aid that we practice are inextricably linked. 
        We believe in accountability and healing that occurs outside of the criminal punishment system. 
        As abolitionists, we believe that we must work to create communities that render policing and 
        prisons unnecessary; which includes building systems that meet everyone's needs. </li>
    <li>As a mutual aid group, we are committed to working to meet the needs unmet by capitalism and the 
        capitalist class. The capitalist class does not make sure that people are fed, housed, cared for, 
        or have access to resources. They decide to use punishment instead of accountability and healing, 
        by criminalizing those that do not have access to what they need. We strive to use our collective 
        power to meet those needs and uplift those the capitalist class has deemed not worthy. </li>
    <li>Mutual aid cannot be separated from the political systems that we live in. We strive to raise the 
        political consciousness of ourselves and our communities by connecting lived experiences to broader 
        political context. We work to provide resources and education that broaden people's understanding of 
        the political structure that we live in and work to imagine new structures that we can thrive in. </li>
    <li>We know that we all need to work together towards our collective liberation, therefore we must engage 
        in open discussion and disagreement. There is no one pathway to liberation so we know that it is 
        necessary that we have difficult conversations. Whether or not we are able to resolve our disagreements 
        we must continue to stay grounded in our common aims and remain respectful to one another. </li>
</ol>
{% endblock %}