{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}About Us{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="col-container">
    <div class="col1">
        <p>We are IC Mutual Aid. We work to meet the survival needs of the people 
            whom our systems continuously fail. The conditions in which we are made 
            to live are unjust. Our local, state, and national governments all 
            continue to neglect crises and leave people behind. We must work toward 
            liberation and meeting the needs unmet by the capitalist class who control 
            the state and the wealth.
        </p>
        <h2>5 Points of Unity</h2>
        <p style="font-style: italic;">These are ripped straight from DMMA, I'm using them 
        as a placeholder for now.</p>
        <ol>
            <li>We believe in working shoulder to shoulder and standing in solidarity 
                with all oppressed communities. We ourselves are oppressed, and our 
                mutual aid work is a fight for our collective liberation. We do not 
                believe in a top-down model of charity. Instead, we contrast our efforts 
                at horizontal mutual aid, the fostering of mutually beneficial relationships 
                and communities, to dehumanizing and colonizing charity.</li>
            <li>We believe in community autonomy. We believe that the communities we live 
                and organize in have been largely excluded from state social services, but 
                intensely surveilled and policed by the state repressive apparatus. Capitalism 
                is fundamentally unable to meet people's needs. We want to build self-sustaining 
                communities that are independent of the capitalist state, both materially and 
                ideologically, and can resist its repression. </li>
            <li>We are police and prison abolitionists. Abolition and the mutual aid that we practice 
                are inextricably linked. We don’t rely on capitalist institutions or the police 
                to do our work. We believe in building strong and resilient communities which make 
                police obsolete, including community systems of accountability and crisis intervention. </li>
            <li>We work to raise the political consciousness of our communities. Part of political education 
                is connecting people’s lived experiences to a broader political perspective. Another component 
                is working to ensure that people can meet their basic needs. It is difficult to organize for 
                future liberation when someone is entrenched in day-to-day struggle. </li>
            <li>We have open disagreements with each other about ideas and practices. We believe there is no 
                formula for resolving our ideological differences other than working towards our common aims, 
                engaging with each other in a comradely manner, and respecting one another, whether or not we 
                can hash out disagreements in the process. </li>
        </ol>
    </div>
    <div class="col2">
        <img src="../../static/images/placeholder.jpg" alt="ICMA logo">
    </div>
</div>
{% endblock %}