{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Projects{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="project">
    <h2>Iowa Queer Prisoner Correspondance Program (IQPCP)</h2>
    <p style="margin-bottom: 0;">The IQPCP provides support to queer people in Iowa prisons by connecting
        them to people outside. The goal of this program is to support queer 
        incarcerated people while they are inside and after they are released by 
        forming long-lasting relationships.</p>
    <!--
    <div class="link-container">
        <a target="_blank"
        href="https://docs.google.com/forms/d/e/1FAIpQLSdr35s1EWoBdnussLgR_pcuVizurqVR0zRXMX1glpGQU_vOAA/viewform">
        Apply to be a pen pal</a>
    </div>
    -->
</div>
<div class="project">
    <h2>Camp Aid</h2>
    <p style="margin-bottom: 0;"> Our Camp Aid program supplies transient and unhoused people in Iowa City with 
        necessary items like first aid supplies, water, food, batteries, tent 
        patches, tarps, emergency blankets and other survival gear. In December 2025, we launched our propane distribution program. If you'd like to make a supply donation, contact us at <a
        href="mailto:admin@icmutualaid.org">admin@icmutualaid.org</a>.</p>
</div>
<div class="project">
    <h2>Community Garden</h2>
    <p style="margin-bottom: 0;"> Access to food, especially produce, is often a luxury when it should be guaranteed. Our government oppresses
        people through restricted food access. Existing resources like food banks provide much needed food but come with 
        barriers like limits, long lines and data collection. Food from the community garden is 
        harvested, cleaned and given away for free to those who are food insecure or have limited access to produce. We
        partner with the <a href="https://www.instagram.com/iowacityfridge/" target="_blank">Iowa City Community Fridge</a> with an aim to 
        decentralize food distribution. 
        </p>
    <p>Volunteering to help out with the garden will involve planting, weeding, watering, fertilizing, harvesting, curing, and seed saving. 
        If you do not know how to grow and process food this is a space to learn with your community! Learning these skills will help us 
        feed our community on our own. </p>
</div>
<div class="project">
    <h2>Basic First Aid</h2>
    <p style="margin-bottom: 0;"> First aid is another basic necessity that often can't be accessed without involving police and the medical system, 
        both of which are inherently violent. ICMA has members trained in basic first aid. If you need people with this experience for an event, 
        protest or other reason, contact us at <a href="mailto:admin@icmutualaid.org">admin@icmutualaid.org</a>.</p>
</div>
{% endblock %}