{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Projects{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Iowa Queer Prisoner Correspondance Program (IQPCP)</h2>
<p>The IQPCP provides support to queer people in Iowa prisons by connecting
    them to people outside. The goal of this program is to support queer 
    incarcerated people while they are inside and after they are released by 
    forming long-lasting relationships.</p>
<div class="link-container">
    <a class="dark" target="blank"
    href="https://docs.google.com/forms/d/e/1FAIpQLSdr35s1EWoBdnussLgR_pcuVizurqVR0zRXMX1glpGQU_vOAA/viewform">
    Apply to be a pen pal</a>
    <a class="dark" target="blank"
        href="">IQPCP Info Session</a>
</div>
<br>
<h2>Camper Kits</h2>
<p> Camper kits supply transient and unhoused people in Iowa City with 
    necessary items like first aid supplies, batteries, tent 
    patches, emergency blankets, and other gear to mitigate the effects of 
    adverse weather.</p>
{% endblock %}