{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Resources{% endblock %}</h1>
{% endblock %}

{% block content %}
<p><a class="dark"
    href="https://iowamutualaid.org/">Iowa Mutual Aid Network</a> is a collection of organizations 
    and projects serving Iowa. The following resources serve Iowa City.</p>
<h2>Housing</h2>
<ul>
    <li class="list-item"><a class="dark" target="blank"
        href="https://shelterhouseiowa.org/">Shelter House</a>
    </li>
    <li class="list-item"><a class="dark" target="blank"
        href="https://www.unitedactionforyouth.org/tlp">UAY Transitional Living Program</a>
    </li>
    <li class="list-item"><a class="dark" target="blank"
        href="https://dvipiowa.org/">Domestic Violence Intervention Program</a>
    </li>
    <li class="list-item"><a class="dark" target="blank"
        href="https://www.icgov.org/government/departments-and-divisions/neighborhood-and-development-services/neighborhood-services/community-development/affordable-housing-resource-center">
        Iowa City Affordable Housing Resource Center</a>
    </li>
    <li class="list-item"><a class="dark" target="blank"
        href="https://www.icgov.org/government/departments-and-divisions/neighborhood-and-development-services/neighborhood-services/community-development/down-payment-assistance">
        Down Payment Assistance Program</a>
    </li>
</ul>
<h2>Incarceration</h2>
<ul>
    <li class="list-item"><a class="dark" target="blank"
        href="https://www.prairielandsfreedomfund.org/">Prairie Lands Freedom Fund</a>
    </li>
</ul>
<h2>Food</h2>
<ul>
    <li class="list-item"><a class="dark" target="blank"
        href="https://builtbycommunity.org/i-need-help/food-bank/">CommUnity Food Bank</a>
    </li>
    <li class="list-item"><a class="dark" target="blank"
        href="https://iowacityfreelunch.org/">Iowa City Free Lunch Program</a>
    </li>
</ul>
<h2>Healthcare</h2>
<ul>
    <li class="list-item"><a class="dark" target="blank"
        href="autonomyiowacity.org">Autonomy Iowa City</a>
    </li>
    <li class="list-item"><a class="dark" target="blank"
        href="https://www.iowatransmutualaidfund.org/">Iowa Trans Mutual Aid Fund</a>
    </li>
    <li class="list-item"><a class="dark" target="blank"
        href="https://johnsoncountyiowa.gov/department-of-clinical-services">Johnson County Public Health</a>
    </li>
</ul>
<h2>Transportation</h2>
<ul>
    <li class="list-item"><a class="dark" target="blank"
        href="https://www.johnsoncountyiowa.gov/department-of-seats">Johnson County Seats</a>
    </li>
    <li class="list-item"><a class="dark" target="blank"
        href="https://www.icgov.org/government/departments-and-divisions/transportation/transit">Fare Free Iowa City</a>
    </li>
</ul>
{% endblock %}