{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Resources{% endblock %}</h1>
{% endblock %}

{% block content %}
<p><a class="main" target="__blank"
    href="https://iowamutualaid.org/">Iowa Mutual Aid Network</a> is a collection of mutual aid 
    organizations and projects serving Iowa. The following mutual aid, non-profit, and government resources serve Iowa City:</p>
<h2>Housing</h2>
<ul>
    <li class="list-item"><a class="main" target="_blank"
        href="https://shelterhouseiowa.org/">Shelter House</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://dvipiowa.org/">Domestic Violence Intervention Program</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.unitedactionforyouth.org/tlp">UAY Transitional Living Program</a>
        <p style="font-style: italic; margin-top: .25rem; margin-bottom: 0;">Youth services</p>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://builtbycommunity.org/i-need-help/hpf/">
        Healing Prairie Farm Youth Shelter</a>
        <p style="font-style: italic; margin-top: .25rem; margin-bottom: 0;">Youth services</p>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.icgov.org/government/departments-and-divisions/neighborhood-and-development-services/neighborhood-services/community-development/affordable-housing-resource-center">
        Iowa City Affordable Housing Resource Center</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.icgov.org/government/departments-and-divisions/neighborhood-and-development-services/neighborhood-services/community-development/down-payment-assistance">
        Iowa City Down Payment Assistance Program</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.icgov.org/government/departments-and-divisions/neighborhood-and-development-services/neighborhood-services/community-development/down-payment-assistance">
        Iowa City Utility Discount Program</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://builtbycommunity.org/i-need-help/financial-support/#rent-and-utility">
        CommUnity Rent and Utility Assistance/Security Deposit Program</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.johnsoncountyiowa.gov/social-services/general-assistance-program">
        Johnson County General Assistance</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://iowacitycatholicworker.org/">Iowa City Catholic Worker House</a>
    </li>
</ul>
<h2>Incarceration</h2>
<ul>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.insideoutreentry.com/">Inside Out Reentry Community</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.prairielandsfreedomfund.org/">Prairie Lands Freedom Fund</a>
    </li>
</ul>
<h2>Food</h2>
<ul>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.instagram.com/iowacityfridge/">Iowa City Community Fridge</a>
        <p style="font-style: italic; margin-top: .25rem; margin-bottom: 0;">Work in progress</p>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://builtbycommunity.org/i-need-help/food-bank/">CommUnity Food Bank</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://iowacityfreelunch.org/">Iowa City Free Lunch Program</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://iowacityfreelunch.org/">University of Iowa Food Pantry</a>
        <p style="font-style: italic; margin-top: .25rem; margin-bottom: 0;">Requires University ID card</p>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.iccompassion.org/services">IC Compassion Food Pantry</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://saintandrew-ic.org/mission-service/food-market">St. Andrew Food Market</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.raphaelchurch.org/food-pantry.html">St. Raphael's Food Pantry</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.faithuccic.org/food-pantry">Faith UCC Food Pantry</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://centralusa.salvationarmy.org/iowacity/cure-hunger/">Salvation Army</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.agapecafe.org/">Agape Cafe</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://iowacitycatholicworker.org/">Iowa City Catholic Worker House</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.johnsoncountyiowa.gov/clinical-services/wic-program">Women, Infants, and Children (WIC) Nutrition and Food Assistance Program</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://hhs.iowa.gov/food-assistance/snap">Supplemental Nutrition Assistance Program</a>
    </li>
</ul>
<h2>Healthcare</h2>
<ul>
    <li class="list-item"><a class="main" target="_blank"
        href="autonomyiowacity.org">Autonomy Iowa City</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.iowatransmutualaidfund.org/">Iowa Trans Mutual Aid Fund</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://johnsoncountyiowa.gov/department-of-clinical-services">Johnson County Public Health</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://freemedicalclinic.org/">Free Medical Clinic</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://builtbycommunity.org/i-need-help/financial-support/#prescription-medication-assistance">
        CommUnity Prescription Medication Assistance</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://builtbycommunity.org/i-need-help/mobile-crisis/">
        Mobile Crisis</a>
    </li>
</ul>
<h2>Transportation</h2>
<ul>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.johnsoncountyiowa.gov/department-of-seats">Johnson County Seats</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.icgov.org/government/departments-and-divisions/transportation/transit">Fare Free Iowa City</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://transportation.uiowa.edu/cambus">Cambus</a>
        <p style="font-style: italic; margin-top: .25rem; margin-bottom: 0;">Free for all community members, no University ID required</p>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.iccompassion.org/services">IC Compassion Transportation Assistance</a>
    </li>
</ul>
<h2>Immigration</h2>
<ul>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.iccompassion.org/services">IC Compassion Immigration Services</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://www.prairielandsfreedomfund.org/">Prairie Lands Freedom Fund</a>
    </li>
    <li class="list-item"><a class="main" target="_blank"
        href="https://iowacitycatholicworker.org/">Iowa City Catholic Worker House</a>
    </li>
</ul>
{% endblock %}